In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv('All row files/1. US Police Shootings/shootings.csv',index_col=False)

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4895 non-null   int64
 1   name                     4895 non-null   object
 2   date                     4895 non-null   object
 3   manner_of_death          4895 non-null   object
 4   armed                    4895 non-null   object
 5   age                      4895 non-null   float64
 6   gender                   4895 non-null   object
 7   race                     4895 non-null   object
 8   city                     4895 non-null   object
 9   state                    4895 non-null   object
 10  signs_of_mental_illness  4895 non-null   bool
 11  threat_level             4895 non-null   object
 12  flee                     4895 non-null   object
 13  body_camera              4895 non-null   bool
 14  arms_category            4895 non-null   object
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 506.8+ KB

In [4]:
df_1['id'].duplicated().sum()

0

In [5]:
df_1['manner_of_death'].unique()

array(['shot', 'shot and Tasered'], dtype=object)

In [6]:
df_1['armed'].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', 'unknown',
       'shovel', 'hammer', 'hatchet', 'sword', 'machete', 'box cutter',
       'metal object', 'screwdriver', 'lawn mower blade', 'flagpole',
       'guns and explosives', 'cordless drill', 'metal pole', 'Taser',
       'metal pipe', 'metal hand tool', 'blunt object', 'metal stick',
       'sharp object', 'meat cleaver', 'carjack', 'chain',
       "contractor's level", 'stapler', 'crossbow', 'bean-bag gun',
       'baseball bat and fireplace poker', 'straight edge razor',
       'gun and knife', 'ax', 'brick', 'baseball bat', 'hand torch',
       'chain saw', 'garden tool', 'scissors', 'pole', 'pick-axe',
       'flashlight', 'vehicle', 'spear', 'chair', 'pitchfork',
       'hatchet and gun', 'rock', 'piece of wood', 'bayonet', 'pipe',
       'glass shard', 'motorcycle', 'pepper spray', 'metal rake', 'baton',
       'crowbar', 'oar', 'machete and gun', 'air conditioner',
       'pole and knife', 'beer bottle', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'pellet gun', 'BB gun', 'incendiary device', 'samurai sword',
       'bow and arrow', 'gun and vehicle', 'vehicle and gun', 'wrench',
       'walking stick', 'barstool', 'grenade', 'BB gun and vehicle',
       'wasp spray', 'air pistol', 'baseball bat and knife',
       'vehicle and machete', 'ice pick', 'car, knife and mace'],
      dtype=object)

In [7]:
df_1['gender'].unique()

array(['M', 'F'], dtype=object)

In [8]:
df_1['race'].unique()

array(['Asian', 'White', 'Hispanic', 'Black', 'Other', 'Native'],
      dtype=object)

In [9]:
df_1['state'].unique()

array(['WA', 'OR', 'KS', 'CA', 'CO', 'OK', 'AZ', 'IA', 'PA', 'TX', 'OH',
       'LA', 'MT', 'UT', 'AR', 'IL', 'NV', 'NM', 'MN', 'MO', 'VA', 'NJ',
       'IN', 'KY', 'MA', 'NH', 'FL', 'ID', 'MD', 'NE', 'MI', 'GA', 'TN',
       'NC', 'AK', 'NY', 'ME', 'AL', 'MS', 'WI', 'SC', 'DE', 'DC', 'WV',
       'HI', 'WY', 'ND', 'CT', 'SD', 'VT', 'RI'], dtype=object)

In [10]:
df_1['arms_category'].unique()

array(['Guns', 'Unarmed', 'Other unusual objects', 'Piercing objects',
       'Sharp objects', 'Unknown', 'Blunt instruments', 'Multiple',
       'Electrical devices', 'Hand tools', 'Vehicles', 'Explosives'],
      dtype=object)

In [11]:
df_2 = pd.read_csv('All row files/2. Wikipedia Serial Killers List/profile_killers.csv')

In [12]:
df_2.head()

,Name,Nicknames,Age,Born Date,Born Location,Died Date,Died Location,Conviction,Criminal Penalty,Date Apprehended
0,Luis Garavito,"The Beast, Goofy, Conflict, Bonifacio Morera L...",66.0,1957-01-25,"Gnova, Quindo, Colombia",2023-10-12,"Valledupar, Colombia",NaN,NaN,1999-04-22
1,Pedro LÃ³pez,The Monster of the Andes,NaN,1948-10-08,"Venadillo, Colombia",NaN,NaN,"Vehicle Theft, Murder, Rape","7 years imprisonment in Colombia, extended to ...",1980-03-09
2,Javed Iqbal,Kukri,NaN,NaN,"Lahore, Punjab, Pakistan",NaN,"Lahore, Punjab, Pakistan","Child Se Abuse, Murder",death,1999-12-30
3,Mikhail Popkov,"The Werewolf, The Angarsk Maniac, The Wednesda...",NaN,1964-03-07,"Norilsk, Krasnoyarsk Krai, Russian SFSR, USSR",NaN,NaN,Aggravated Murder Attempted Aggravated Murder,life imprisonment,2012-06-23
4,Daniel Camargo Barbosa,"The Sadist of El Charquito, The Monster of the...",64.0,1930-01-22,"Anolaima, Cundinamarca, Colombia",1994-11-13,"Guayaquil, Ecuador",NaN,"25 years imprisonment, 16 years imprisonment",1974-05-03

In [13]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              711 non-null    object
 1   Nicknames         469 non-null    object
 2   Age               243 non-null    float64
 3   Born Date         444 non-null    object
 4   Born Location     420 non-null    object
 5   Died Date         308 non-null    object
 6   Died Location     227 non-null    object
 7   Conviction        502 non-null    object
 8   Criminal Penalty  577 non-null    object
 9   Date Apprehended  543 non-null    object
dtypes: float64(1), object(9)
memory usage: 55.7+ KB

In [14]:
df_2['born country'] = df_2['Born Location'].apply(
    lambda x: x.split(',')[-1].strip() if pd.notnull(x) else None
)

In [16]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              711 non-null    object
 1   Nicknames         469 non-null    object
 2   Age               243 non-null    float64
 3   Born Date         444 non-null    object
 4   Born Location     420 non-null    object
 5   Died Date         308 non-null    object
 6   Died Location     227 non-null    object
 7   Conviction        502 non-null    object
 8   Criminal Penalty  577 non-null    object
 9   Date Apprehended  543 non-null    object
 10  born country      420 non-null    object
dtypes: float64(1), object(10)
memory usage: 61.2+ KB

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df_2['Born Location']

0                                Gnova, Quindo, Colombia
1                                    Venadillo, Colombia
2                               Lahore, Punjab, Pakistan
3          Norilsk, Krasnoyarsk Krai, Russian SFSR, USSR
4                       Anolaima, Cundinamarca, Colombia
5             Santa Rita do Sapuca, Minas Gerais, Brazil
6                               Jaipur, Rajasthan, India
7                         Varamin, Tehran Province, Iran
8              Zhengyang County, Zhumadian, Henan, China
9                                 Abul DjabarAfghanistan
10                                                   NaN
11                                Protectorate of Uganda
12           e Heydarieh, Razavi Khorasan province, Iran
13            , Sumy Oblast, Ukrainian SSR, Soviet Union
14           Lasky, Zhytomyr Oblast, Ukrainian SSR, USSR
15                                         Uchoa, Brazil
16                                                   NaN
17          Mytishchi, Moscow Oblast, Russian SFSR, USSR
18     Budayuan Town, Kuandian Manchu Autonomous Coun...
19               Pasar Rongkat, North Sumatra, Indonesia
20                                                   NaN
21                      Vosloorus, Gauteng, South Africa
22     Kiselyovsk, Kemerovo Oblast, Russian SFSR, Sov...
23                 Ist, Vitebsk Oblast, Byelorussian SSR
24                                   sMarrakesh, Morocco
25                                    Bucharest, Romania
26                           Cuernavaca, Morelos, Mexico
27                                                   NaN
28                                        Borujerd, Iran
29                   Vitebsk Governorate, Russian Empire
30                                 Tanta, Gharbia, Egypt
31     Kazan, Tatar Autonomous Soviet Socialist Repub...
32                                                   NaN
33                      Caxias, state of Maranho, Brazil
34                                                   NaN
35                                                   NaN
36                                  Valledupar, Colombia
37                                                   NaN
38                          Hualin Village, Hunan, China
39                                       Keratea, Greece
40                       Maoupa Cedric MaakeSouth Africa
41              Port Coquitlam, British Columbia, Canada
42                                   Manchester, England
43                                                   NaN
44     San Antonio de los Moran, Ayutla, Jalisco, Mexico
45                                Hanover, German Empire
46                                               Hungary
47                                          Tabriz, Iran
48                                          Rhin, France
49                                                   NaN
50         Clemente Baquerizo, Los Ros Province, Ecuador
51                                                   NaN
52                                                   NaN
53         Mikhail NovosyolovSarapul, Udmurt ASSR, RSFSR
54                   Trujillo, Valle del Cauca, Colombia
55                                                   NaN
56                                                   NaN
57                Bessarabia Governorate, Russian Empire
58                           Gochang County, South Korea
59                                      The Bajo, Mexico
60                                                   NaN
61                                                   NaN
62                                      Karnataka, India
63                                          South Africa
64                                                   NaN
65                                                   NaN
66                                                   NaN
67               Balashikha, Moscow Oblast, Soviet Union
68                Novosibirsk, Novosibirsk Oblast, RSFSR
69                      Kanniyanpatti, Tamil Nadu, India
70     Platone Parish, Courland Governorate, Russian ...
71                          Rechnoy, Kirov Oblast, RSFSR
72                                                   NaN
73                          Barnaul, RSFSR, Soviet Union
74                                                   NaN
75                                         Adana, Turkey
76                       Orlando, Florida, United States
77                                    France, Martinique
78                                                   NaN
79                      Basappa Malige, Karnataka, India
80     Christopher Mhlengwa ZikodeDonnybrook, South A...
81                                                   NaN
82                                          South Africa
83                                         Moscow, RSFSR
84                                                   NaN
85                                          Henan, China
86                                            Lima, Peru
87              Jallupur Khera, Amritsar district, India
88                                                   NaN
89               Mariupol, Donetsk Oblast, Ukrainian SSR
90                                        Potenza, Italy
91                  Mansi Autonomous Okrug, Soviet Union
92                              Cangnan, Zhejiang, China
93                                                   NaN
94                           Epazoyucan, Hidalgo, Mexico
95                                         Sedan, France
96     Sipho Mandla Agmatir ThwalaKwaMashu, South Africa
97                                Imperial State of Iran
98                      Arutla village, Telangana, India
99                                                   NaN
100                                     Santander, Spain
101                                                  NaN
102                Elias XitavhudziUnion of South Africa
103                                                  NaN
104                Kamenogorsk, Kazakh SSR, Soviet Union
105                                                  NaN
106                                         Abadan, Iran
107                                         South Africa
108                                         South Africa
109                                                  NaN
110                                Badaun, Uttar Pradesh
111                                                  NaN
112                   Izcar de Matamoros, Puebla, Mexico
113                                                  NaN
114                           Petersburg, Russian Empire
115                 Monteros, Tucumn Province, Argentina
116                                Union of South Africa
117                                         Genoa, Italy
118                 Shijingshan District, Beijing, China
119             Hwaseong, Gyeonggi Province, South Korea
120                                                  NaN
121                                     Trndelag, Norway
122          Sumerki, Ryazan Governorate, Russian Empire
123                               Dbrowa Grnicza, Poland
124                          Puchuncav, Valparaso, Chile
125                                                  NaN
126                                  Hindenburg, Germany
127                                                  NaN
128                                Tunis, French Tunisia
129                Karinthala, Nileswaram, Kerala, India
130              Rio de Janeiro, United States of Brazil
131               Arkhangelsk, Arkhangelsk Oblast, RSFSR
132                          Cao Zancudo,Mrida,Venezuela
133                                                  NaN
134                   Bulanash, Sverdlovsk Oblast, RSFSR
135               Somoniyon, Central District, Tajik SSR
136                           Jangsu County, South Korea
137                                             Pakistan
138                                                  NaN
139                                                  NaN
140                                                  NaN
141                                       Grobia, Latvia
142           Shipley, West Riding of Yorkshire, England
143                                                  NaN
144                                                  NaN
145                                                  NaN
146                                                  NaN
147                                Corrientes, Argentina
148                                                  NaN
149         Uzhur, Krasnoyarsk Krai, RSFSR, Soviet Union
150                                                  NaN
151    Smolensk, Smolensk Oblast, Russian SFSR, Sovie...
152                        Johannes MashianeSouth Africa
153                       Irkutsk, Irkutsk Oblast, RSFSR
154                    Mikhalkovo, Ivanovo Oblast, RSFSR
155                       Maelula, Limpopo, South Africa
156                                  Wuhan, Hubei, China
157                                Tbilisi, Georgian SSR
158                                  Johns, South Africa
159                                                  NaN
160                            Meixian, Guangdong, China
161                  Potsdam, North German Confederation
162                                                  NaN
163                                                  NaN
164                              Central Java, Indonesia
165                 Orekhovka, Kaliningrad Oblast, RSFSR
166                                                  NaN
167                                Fraserburgh, Scotland
168                                                  NaN
169                                                  NaN
170                                                Yemen
171                                                RSFSR
172                                                  NaN
173                                            Indonesia
174                                 Moscow, Soviet Union
175                                       Goinia, Brazil
176                                                  NaN
177                                                China
178                                     occupied Austria
179                                                  NaN
180                                                  NaN
181                                        Paris, France
182                Blue Mountain, Alabama, United States
183                            Waasmont, Landen, Belgium
184                                      Shizuoka, Japan
185                              Buenos Aires, Argentina
186                  Vancouver, British Columbia, Canada
187                                        Madrid, Spain
188                                                  NaN
189                                                  NaN
190                                               Turkey
191                                                  NaN
192                                   So Paulo, So Paulo
193                                                  NaN
194                         Yuzhong County, Gansu, China
195                 Novouralsk, Sverdlovsk Oblast, RSFSR
196               Berdiansk, Ukrainian SSR, Soviet Union
197                                                  NaN
198                                   Jombang, Indonesia
199                                                  NaN
200                                              Hungary
201                                                  NaN
202                  Brenstein, Erzgebirgskreis, Germany
203                      Joliet, Illinois, United States
204                                                  NaN
205                                Odessa, Ukrainian SSR
206                                               France
207                  Uzynagash, Kazakh SSR, Soviet Union
208                                                  NaN
209                      Boksburg, Gauteng, South Africa
210                      Orsk, Novosibirsk Oblast, RSFSR
211                                         South Africa
212                                                  NaN
213                                                  NaN
214                           Ogre District, Latvian SSR
215                     Balashikha, Moscow Oblast, RSFSR
216                      Ghaziabad, Uttar Pradesh, India
217                     Ignatpol, Zhytomyr Oblast, UkSSR
218                                    Gaziantep, Turkey
219                            Qingtian County, Zhejiang
220    Jingkou Town, Shapingba District, Chongqing, C...
221                                Seocheon, South Korea
222                                       Bungoma, Kenya
223                                         South Africa
224                       Mlheim am Rhein, German Empire
225                                                  NaN
226                              Cape Town, South Africa
227                                         Metz, France
228                                                  NaN
229                                              Denmark
230                         Rosebud, Falls County, Texas
231                                                  NaN
232                                                  NaN
233                                                  NaN
234                                                  NaN
235                                  RSFSR, Soviet Union
236                                                  NaN
237      Nyazepetrovsk, Chelyabinsk Oblast, Soviet Union
238                                                  NaN
239                                                  NaN
240                   Ulyanovsk, Ulyanovsk Oblast, RSFSR
241                    Machala, El Oro Province, Ecuador
242                                Modra, Czechoslovakia
243                                                  NaN
244                                                  NaN
245                 Chilliwack, British Columbia, Canada
246                                                  NaN
247                                                  NaN
248                      Kizugawa, Kyoto, Occupied Japan
249                                                  NaN
250                                       tienne, France
251                   Sydney, New South Wales, Australia
252                                                  NaN
253                     Povorino, Voronezh Oblast, RSFSR
254                  Vancouver, British Columbia, Canada
255                                                  NaN
256                                                  NaN
257                                  Helsingborg, Sweden
258         Tochigi, Tochigi Prefecture, Empire of Japan
259    Northowram, West Riding of Yorkshire, England, UK
260                  Perth, Western Australia, Australia
261                                                  NaN
262                             Lindsay, Ontario, Canada
263             Muntowen, East Prussia, Imperial Germany
264              Ogachi District, Akita, Empire of Japan
265                                                  NaN
266                                         Gunma, Japan
267                                                  NaN
268                                                  NaN
269                                                  NaN
270                                                  NaN
271                                                  NaN
272    Zernogradsky District, Rostov Oblast, RSFSR, S...
273                            Seville, Andalusia, Spain
274                                                  NaN
275                                       Cali, Colombia
276                Guildford, New South Wales, Australia
277                                                  NaN
278                          Collingwood, Ontario Canada
279                                                  NaN
280                                                  NaN
281                         Hammersmith, London, England
282                                                  NaN
283                                        Moscow, RSFSR
284                           Propriano, Corsica, France
285                                                  NaN
286          Barranquilla, Atlntico Department, Colombia
287               New York City, New York, United States
288                                                  NaN
289                                                  NaN
290                                 Szczepankowo, Poland
291                                                  NaN
292                                                  NaN
293                                                  NaN
294                                                  NaN
295                                                  NaN
296                                                  NaN
297                                                  NaN
298                                            Chongqing
299                       Mfil, Valdivia Province, Chile
300                    Kyoto Prefecture, Empire of Japan
301                                                  NaN
302                              Svinaov, Czechoslovakia
303          Izerbash, Dagestan ASSR, Russian SFSR, USSR
304                                                  NaN
305                                                  NaN
306        Kazan, Tatar ASSR, Russian SFSR, Soviet Union
307                                Mestre, Venice, Italy
308                                                  NaN
309                                                  NaN
310                                      Franois, France
311                                        Kollam, India
312                                                  NaN
313                                         South Africa
314                              Thrissur, Kerala, India
315                                         South Africa
316                                                  NaN
317                                       , East Germany
318                                                  NaN
319                                        Krakw, Poland
320                                                China
321                                                  NaN
322       Puerto Leguzamo, Putumayo Department, Colombia
323                                 Chop, Czechoslovakia
324                                    Wolverhampton, UK
325             Semyonovka, Byerastavitsa District, BSSR
326                                  San Jos, Costa Rica
327                                                  NaN
328                      Stamford, Lincolnshire, England
329                         Bebington, Cheshire, England
330                                                  NaN
331                                                  NaN
332                                                  NaN
333                                                  NaN
334                                Ciudad Juarez, Mexico
335                                                  NaN
336                                                  NaN
337                                                  NaN
338                       Barra do Mendes, Bahia, Brazil
339                                     La Mancha, Spain
340                               Spandau, German Empire
341                             Frankfurt, German Empire
342                                        United States
343                                                  NaN
344                                                  NaN
345                                                  NaN
346                                                  NaN
347                                                  NaN
348                              Stuttgart, West Germany
349                 Lehnin, Bezirk Potsdam, East Germany

In [37]:
df_2_a = (pd.read_csv('All row files/2. Wikipedia Serial Killers List/serial_killers_by_victims.csv'))

In [39]:
df_2_a.head(10)

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro LÃ³pez,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Russia,1992.0,2010.0,83.0,86.0,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,"Colombia, Ecuador, Brazil",1974.0,1986.0,72.0,180.0,"Child and woman murderer, believed to have pos..."
5,Pedro Rodrigues Filho,Brazil,1967.0,2003.0,71.0,100.0,Rodrigues Filho claimed to have killed over 10...
6,Kampatimar Shankariya,India,1977.0,1978.0,70.0,70.0,Shankariya was an Indian serial killer who use...
7,Hoshang Amini,Iran,1954.0,1962.0,67.0,67.0,"Known as the ""Ghost of the Qanat Wells"". Murde..."
8,Yang Xinhai,China,1999.0,2003.0,67.0,67.0,"Known as the ""Monster Killer"". Yang would ente..."
9,Abul Djabar,Afghanistan,NaN,1970.0,65.0,300.0,Killed 65 men and boys by strangling them with...

In [22]:
df_2_a["Country"].unique()

array(['Colombia, Ecuador, Venezuela', 'Colombia, Peru, Ecuador',
       'Pakistan', 'Russia', 'Colombia, Ecuador, Brazil', 'Brazil',
       'India', 'Iran', 'China', 'Afghanistan', 'United States',
       'Belgian Congo, Tanganyika', 'Soviet Union',
       'Soviet Union, Ukraine', 'Indonesia', 'South Africa', 'Morocco',
       'Kingdom of Romania, Yugoslavia, Hungary', 'Mexico',
       'Ottoman Empire, Iraq, Iran', 'Egypt', 'Germany', 'Colombia',
       'Zambia', 'Swaziland', 'Greece', 'Canada', 'United Kingdom',
       'Austria-Hungary', 'France, Germany, Switzerland', 'Ecuador',
       'United States, Canada', 'Soviet Union, Russia, Tajikistan',
       'Romania', 'South Korea', 'Costa Rica', 'Soviet Union, Russia',
       'Latvia', 'Turkey', 'France', 'Sri Lanka', 'Peru', 'Ukraine',
       'Italy', 'France, Belgium', 'Spain', 'United States, Mexico',
       'Argentina', 'Poland', 'Chile', 'West Germany', 'Tunisia',
       'Venezuela', 'Rwanda', 'Thailand, Nepal, India, Malaysia', 'Yemen',
       'Japan', 'Austria, United States, Czechoslovakia', 'Belgium',
       'Bangladesh', 'Czechoslovakia', 'Soviet Union, Russia, Ukraine',
       'Kenya', 'German Empire, Germany', 'Denmark', 'Ecuador, Spain',
       'Czechoslovakia, Germany, Netherlands', 'Sweden', 'China, Japan',
       'Australia', 'Spain, France, Italy', 'Canada, United States',
       'Cyprus', 'Italy, France',
       'East Germany, Germany, France, Spain, Czech Republic, Italy',
       'Belarus', 'East Germany, Germany', 'Estonia',
       'United States, Portuguese Angola',
       'Switzerland, France, United States, Yugoslavia, Italy',
       'West Germany, United States', 'Netherlands', 'SR Croatia',
       'Panama', 'Singapore', 'Belize', 'SR Slovenia', 'Namibia',
       'United Kingdom, Ireland, West Germany, Netherlands, France',
       'Austria', 'Hong Kong', 'Israel',
       'Allied-occupied Germany, West Germany', 'Republic of Macedonia',
       'East Germany', 'SR Slovenia, Serbia and Montenegro, Slovenia',
       'Portugal', 'Malaysia',
       'United States, Austria, France, United Kingdom',
       'Singapore, Malaysia', 'Kingdom of Yugoslavia', 'Iraq', 'Norway',
       'Switzerland', 'Czech Republic', 'Imperial State of Iran',
       'Finland', 'United States, Zimbabwe', 'Hungary', 'Belgium, France',
       'Guatemala', 'Uzbekistan, Kazakhstan',
       'Italy, West Germany, Netherlands'], dtype=object)

In [61]:
df_2_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        738 non-null    float64
 3   End year          740 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
dtypes: float64(4), object(3)
memory usage: 41.5+ KB

In [17]:
df_2["born country"].unique()

array(['Colombia', 'Pakistan', 'USSR', 'Brazil', 'India', 'Iran', 'China',
       'Abul DjabarAfghanistan', None, 'Protectorate of Uganda',
       'Soviet Union', 'Indonesia', 'South Africa', 'Byelorussian SSR',
       'Morocco', 'Romania', 'Mexico', 'Russian Empire', 'Egypt',
       'Greece', 'Maoupa Cedric MaakeSouth Africa', 'Canada', 'England',
       'German Empire', 'Hungary', 'France', 'Ecuador', 'RSFSR',
       'South Korea', 'Turkey', 'United States', 'Martinique', 'Peru',
       'Ukrainian SSR', 'Italy', 'Imperial State of Iran', 'Spain',
       'Elias XitavhudziUnion of South Africa', 'Uttar Pradesh',
       'Argentina', 'Union of South Africa', 'Norway', 'Poland', 'Chile',
       'Germany', 'French Tunisia', 'United States of Brazil',
       'Venezuela', 'Tajik SSR', 'Latvia',
       'Johannes MashianeSouth Africa', 'Georgian SSR',
       'North German Confederation', 'Scotland', 'Yemen',
       'occupied Austria', 'Belgium', 'Japan', 'So Paulo', 'Latvian SSR',
       'UkSSR', 'Zhejiang', 'Kenya', 'Denmark', 'Texas', 'Czechoslovakia',
       'Occupied Japan', 'Australia', 'Sweden', 'Empire of Japan', 'UK',
       'Imperial Germany', 'Ontario Canada', 'Chongqing', 'East Germany',
       'BSSR', 'Costa Rica', 'West Germany', 'Nigeria', 'Switzerland',
       'Kingdom of Yugoslavia', 'German Confederation', 'Netherlands',
       'Israel', 's Republic', 'Yugoslavia', 'Wales', 'Massachusetts',
       'Slovakia', 'unknown', 'Nazi Germany', 'British Hong Kong',
       'occupied Germany', 'Kingdom of Romania', 'Moldavian SSR', 's',
       'FukuokaOccupied Japan', 'SFR Yugoslavia', 'Congress Poland',
       'Cape Colony', 'Canary Islands',
       'Socialist Federal Republic of Yugoslavia',
       'Gabriel Garza HothMexico', 'United Kingdom', 'Hong Kong',
       'Portugal', 'sMexico', 'US', 'New York', 'Malaysia',
       'Grand Duchy of Hesse', 'Kingdom of Prussia', 'Singapore',
       'TaeiIraq', 'Westphalia', 'Austria', 'Czech Republic', 'Ireland',
       'centuryOttoman Empire', 'Rio de Janeiro', 'Guatemala',
       'Uzbek SSR', 'Mxico', 'Russia', 'Territory of Hawaii'],
      dtype=object)

In [23]:
country_to_continent = {
    # AmÃ©ricas
    "Brazil": "South America",
    "Colombia": "South America",
    "Argentina": "South America",
    "Chile": "South America",
    "Ecuador": "South America",
    "Peru": "South America",
    "Mexico": "North America",
    "United States": "North America",
    "Canada": "North America",
    "Costa Rica": "Central America",
    "Guatemala": "Central America",
    "Belize": "Central America",
    "Panama": "Central America",
    # Europa
    "France": "Europe",
    "Germany": "Europe",
    "Spain": "Europe",
    "Italy": "Europe",
    "United Kingdom": "Europe",
    "Poland": "Europe",
    "Romania": "Europe",
    "Hungary": "Europe",
    "Ukraine": "Europe",
    "Russia": "Europe/Asia",  # pode ser refinado
    "Austria": "Europe",
    "Czech Republic": "Europe",
    "Netherlands": "Europe",
    "Switzerland": "Europe",
    "Belgium": "Europe",
    "Latvia": "Europe",
    "Greece": "Europe",
    "Serbia and Montenegro": "Europe",
    "Estonia": "Europe",
    "Republic of Macedonia": "Europe",
    # Ãsia
    "China": "Asia",
    "India": "Asia",
    "Pakistan": "Asia",
    "Iran": "Asia",
    "Afghanistan": "Asia",
    "Indonesia": "Asia",
    "South Korea": "Asia",
    "North Korea": "Asia",
    "Japan": "Asia",
    "Bangladesh": "Asia",
    "Turkey": "Asia/Europe",
    "Kazakhstan": "Asia",
    "Tajikistan": "Asia",
    "Sri Lanka": "Asia",
    "Malaysia": "Asia",
    "Thailand": "Asia",
    "Nepal": "Asia",
    "Uzbekistan": "Asia",
    "Yemen": "Asia",
    "Israel": "Asia",
    # Ãfrica
    "South Africa": "Africa",
    "Egypt": "Africa",
    "Morocco": "Africa",
    "Zambia": "Africa",
    "Swaziland": "Africa",
    "Rwanda": "Africa",
    "Namibia": "Africa",
    "Portuguese Angola": "Africa",
    "Tanganyika": "Africa",
    "Belgian Congo": "Africa",
    "Kenya": "Africa",
    # Oceania
    "Australia": "Oceania",
    "New Zealand": "Oceania",
    # Outros
    "Soviet Union": "Former USSR",
    "Ottoman Empire": "Historical",
    "Austria-Hungary": "Historical",
    "Czechoslovakia": "Historical",
    "West Germany": "Historical",
    "East Germany": "Historical",
    "SR Croatia": "Historical",
    "SR Slovenia": "Historical",
    "Kingdom of Romania": "Historical",
    "Kingdom of Yugoslavia": "Historical",
}

In [ ]:
# Exemplo com lista
countries = ['Colombia, Ecuador, Venezuela', 'Pakistan', 'Russia']
df = pd.DataFrame({'countries': countries})
# Aplica categorizaÃ§Ã£o
df['continents'], not_matched = categorize_by_continent(df['countries'], country_to_continent)
print(df)
print("Not matched countries:", not_matched)

In [40]:
def categorize_multiple_countries(country_series):
    return country_series.apply(lambda x: "Multiple Countries" if ',' in x else x)

In [44]:
df_2_country_sorted = pd.DataFrame({'Country': df_2_a["Country"]})

# Aplica a funÃ§Ã£o
df_2_a['country sorted'] = categorize_multiple_countries(df_2_a['Country'])

display(df_2_a)

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes,country sorted
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno...",Multiple Countries
1,Pedro LÃ³pez,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst...",Multiple Countries
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I...",Pakistan
3,Mikhail Popkov,Russia,1992.0,2010.0,83.0,86.0,"Serial rapist-killer nicknamed ""The Werewolf"",...",Russia
4,Daniel Camargo Barbosa,"Colombia, Ecuador, Brazil",1974.0,1986.0,72.0,180.0,"Child and woman murderer, believed to have pos...",Multiple Countries
...,...,...,...,...,...,...,...,...
752,Michael Bear Carson and Suzan Carson,United States,1981.0,1983.0,3.0,3.0,Nomadic hippie killers involved in the counter...,United States
753,Joseph and Michael Kallinger,United States,1974.0,1975.0,3.0,3.0,Joseph Kallinger murdered three people and tor...,United States
754,Silvia Merez Cult,Mexico,2009.0,2012.0,3.0,3.0,Ritually murdered three people in sacrifices t...,Mexico
755,Raya and Sakina and their husbands,Egypt,1919.0,1920.0,2.0,2.0,Gang of four that rented a house for women and...,Egypt
756,Amelia Sach and Annie Walters,United Kingdom,1900.0,1903.0,1.0,300.0,"Sach and Walters, known as the ""Finchley baby ...",United Kingdom

In [53]:
df_2_a[df_2_a["country sorted"]=="Multiple Countries"].shape[0]

44

In [56]:
continent_dict = {
    'Multiple Countries': 'Multiple',
    'Pakistan': 'Asia',
    'Russia': 'Europe/Asia',
    'Brazil': 'South America',
    'India': 'Asia',
    'Iran': 'Asia',
    'China': 'Asia',
    'Afghanistan': 'Asia',
    'United States': 'North America',
    'Soviet Union': 'Europe/Asia',
    'Indonesia': 'Asia',
    'South Africa': 'Africa',
    'Morocco': 'Africa',
    'Mexico': 'North America',
    'Egypt': 'Africa',
    'Germany': 'Europe',
    'Colombia': 'South America',
    'Zambia': 'Africa',
    'Swaziland': 'Africa',
    'Greece': 'Europe',
    'Canada': 'North America',
    'United Kingdom': 'Europe',
    'Austria-Hungary': 'Europe',
    'Ecuador': 'South America',
    'Romania': 'Europe',
    'South Korea': 'Asia',
    'Costa Rica': 'North America',
    'Latvia': 'Europe',
    'Turkey': 'Europe/Asia',
    'France': 'Europe',
    'Sri Lanka': 'Asia',
    'Peru': 'South America',
    'Ukraine': 'Europe',
    'Italy': 'Europe',
    'Spain': 'Europe',
    'Argentina': 'South America',
    'Poland': 'Europe',
    'Chile': 'South America',
    'West Germany': 'Europe',
    'Tunisia': 'Africa',
    'Venezuela': 'South America',
    'Rwanda': 'Africa',
    'Yemen': 'Asia',
    'Japan': 'Asia',
    'Belgium': 'Europe',
    'Bangladesh': 'Asia',
    'Czechoslovakia': 'Europe',
    'Kenya': 'Africa',
    'Denmark': 'Europe',
    'Sweden': 'Europe',
    'Australia': 'Oceania',
    'Cyprus': 'Asia',
    'Belarus': 'Europe',
    'Estonia': 'Europe',
    'Netherlands': 'Europe',
    'SR Croatia': 'Europe',
    'Panama': 'North America',
    'Singapore': 'Asia',
    'Belize': 'North America',
    'SR Slovenia': 'Europe',
    'Namibia': 'Africa',
    'Austria': 'Europe',
    'Hong Kong': 'Asia',
    'Israel': 'Asia',
    'Republic of Macedonia': 'Europe',
    'East Germany': 'Europe',
    'Portugal': 'Europe',
    'Malaysia': 'Asia',
    'Kingdom of Yugoslavia': 'Europe',
    'Iraq': 'Asia',
    'Norway': 'Europe',
    'Switzerland': 'Europe',
    'Czech Republic': 'Europe',
    'Imperial State of Iran': 'Asia',
    'Finland': 'Europe',
    'Hungary': 'Europe',
    'Guatemala': 'North America'
}


df_2_a['Continent'] = df_2_a['country sorted'].map(continent_dict)

In [57]:
df_2_a.head()

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes,country sorted,Continent
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno...",Multiple Countries,Multiple
1,Pedro LÃ³pez,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst...",Multiple Countries,Multiple
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I...",Pakistan,Asia
3,Mikhail Popkov,Russia,1992.0,2010.0,83.0,86.0,"Serial rapist-killer nicknamed ""The Werewolf"",...",Russia,Europe/Asia
4,Daniel Camargo Barbosa,"Colombia, Ecuador, Brazil",1974.0,1986.0,72.0,180.0,"Child and woman murderer, believed to have pos...",Multiple Countries,Multiple

In [58]:
df_2_a["Continent"].unique()

array(['Multiple', 'Asia', 'Europe/Asia', 'South America',
       'North America', 'Africa', 'Europe', 'Oceania'], dtype=object)

In [59]:
df_2_a.to_csv("All row files/2. Wikipedia Serial Killers List/serial_killers_by_victims.csv", index=False)